<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 指定路径下的资源输出Debug日志 -->
    <logger name="com.geekbang.coupon.customer.feign.TemplateService" level="DEBUG"/>
    <logger name="com.geekbang.coupon.customer.feign.CalculationService" level="DEBUG"/>
    <springProperty scope="context" name="applicationName" source="spring.application.name" />

    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <!-- 日志输出编码 -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 日志输出级别调整为INFO，线上可不要输出debug日志，不然给你ES撑爆！ -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>